<div class="wrapper bgded" style="background-image:url('images/bg.jpg');">
<section id="callback" class="hoc clear"> 
  <div>
    <h6 class="heading">Login</h6>
    <form action="/admin/login" method="POST">
      <fieldset>
        <input type="text" name="username"  placeholder="Username">
        <input type="password"  name="password"  placeholder="Password">
        <button type="submit" value="submit">Submit</button>
      </fieldset>
    </form>
  </div>
</section>
</div>