<!DOCTYPE html>
<html lang="">
<head>
<title>project</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="lay/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<div class="bgded overlay" style="background-image:url('images/bg.jpg');"> 
  <div class="wrapper row1">
    <nav id="mainav" class="hoc clear"> 
      <ul class="clear">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Others</a></li>
      </ul>
    </nav>
  </div>
<div class="wrapper bgded" style="background-image:url('images/bg.jpg');">
  <section id="callback" class="hoc clear"> 
    
  </section>
  <section id="callback" class="hoc clear"> 
    
  </section>
  <section id="callback" class="hoc clear"> 
    
  </section>
  <section id="callback" class="hoc clear" style="background-color: black;margin-left: 0;margin-right: 0;max-width: inherit;"> 

    <h3 style="text-align: center;color:white">all rights reserved by rails@copyrights</h3>
  </section>
</div>
<script src="lay/scripts/jquery.min.js"></script>
<script src="lay/scripts/jquery.backtotop.js"></script>
<script src="lay/scripts/jquery.mobilemenu.js"></script>
</body>
</html>