<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Student App</h1>
    <p>
      You have successfully added student mark to student app,
    </p>
    <p>
     <h3>Student First Name:<%= @firstname %></h3>
     <br />
     <h3>Student Last Name:<%= @lastname %></h3>
    </p>
    <p>Thanks for adding student mark and have a great day!</p>
  </body>
</html>