<div class="wrapper bgded" style="background-image:url('images/bg.jpg');">
 
  <section id="callback" class="hoc clear"> 
    
  </section>
  <section id="callback" class="hoc clear"> 
    
  </section>
  <section id="callback" class="hoc clear" style="background-color: black;margin-left: 0;margin-right: 0;max-width: inherit;"> 

    <h3 style="text-align: center;color:white">all rights reserved by rails@copyrights</h3>
  </section>
</div>